a.toggleview:link, a.toggleview:visited {
  margin: auto 20px;
  text-decoration: none;
  transition: all var(--default-transduration);
}
a.toggleview:hover {
  color: #AB8F5E;
}
.AboutMe {
  height: 0;
  overflow: hidden;
  transition: all calc(var(--default-transduration) - 0s);
}
#AboutMe.-active {
  margin-top: 50px;
  width: 100%;
  height: 850px;
}
