h2.List_title {
  margin: 40px;
}
a.List {
  text-decoration: none;
  color: var(--Contents-color);
}
div.List {
  margin: 20px auto;
  border: solid 1px #CDCDCD;
  width: 1100px;
  height: 120px;
  font-size: calc(var(--default-font-size) + 0%);
  font-weight: 600;
}
div.List:hover {
  text-decoration: underline;
}
div.List_img {
  width: 120px;
  height: 120px;
  float: left;
  background-color: #FFFFFF;
}
img.thumbnail {
  width: 100%;
  height: 100%;
  transition: all var(--default-transduration);
}
img.thumbnail:hover {
  filter: brightness(125%);
}
div.List_name {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9F9FD;
}