:root {
  --default-font-size: 125%;
  --default-transduration: 0.5s;
  --Header-color: #613EA0;
  --Header-background: rgba(200,187,222,0.7);
  --Nav-color: #3A2560;
  --Nav-background: #FFFFFF;
  --Wrap-background: #FFFFFF;
  --Contents-color: #000000;
  --Contents-background: #F7F7FD;
  --Footer-color: #636363;
  --Footer-background: #FFFFFF;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:'Noto Sans KR', sans-serif;
}
/* Header 관련 스타일 적용 */
.Header {
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 5%;
  z-index: 9;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: calc(var(--default-font-size) + 50%);
  color: var(--Header-color);
  background-color: var(--Header-background);
  transition: all calc(var(--default-transduration) + 0.25s);
}
.Header_container {
  margin: auto;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  transition: all calc(var(--default-transduration) + 0.25s);
}
#Header.-active {
  padding-left: 14%;
  width: 86%;
}
.header_name {
  width: 15%;
  font-size: calc(var(--default-font-size) - 75%);
}
.menubutton {
  margin: 0.1%;
  margin-left: 1%;
  overflow: hidden;
  float: left;
  width: 3%;
  height: 80%;
  cursor: pointer;
  text-align: center;
  align-items: center;
  transition: all var(--default-transduration) ease-in-out;
}
.line {
  margin: 15% auto;
  width: 60%;
  height: 8%;
  box-sizing: border-box;
  display: block;
  background-color: #1E1E1E;
  transition: all 0.5s ease-in-out;
}
#Menu.-active .line:nth-child(1){
  transform: translateX(-40%) translateY(140%) rotate(-45deg);
  width: 40%;
}
#Menu.-active .line:nth-child(3){
  transform: translateX(-40%) translateY(-140%) rotate(45deg);
  width: 40%;
}
div.menu {
  width: 50%;
}
a.menu {
  margin-left: 3%;
  width: 10%;
  height: 100%;
  text-decoration: none;
  font-weight: 600;
}
a.menu:hover {
  color: #3EA061;
}
a.menu:active {
  color: #1F5030;
}
/* Navigation 관련 스타일 적용 */
.Nav {
  margin-left: -1%;
  border-right: solid 3px #000000;
  overflow: hidden;
  position:fixed;
  width: 0;
  height: 100%;
  z-index: 10;
  color: var(--Nav-color);
  background-color: var(--Nav-background);
  font-size: var(--default-font-size);
  transition: all calc(var(--default-transduration) + 0.25s);
}
#Nav.-active {
  width: 15%;
}
.Nav_inner {
  margin: 10%;
  margin-left: 12%;
  width: 80%;
  height: 80%;
  display: none;
}
#Nav_inner.-active {
  display: block;
}
div.Nav_header {
  margin: 10% auto;
  margin-top: 20%;
  margin-bottom: 5%;
  font-size: calc(var(--default-font-size) + 15%);
}
a.Nav_header {
  text-decoration: none;
  color: var(--Nav-color);
}
span.Nav_header_name {
  font-size: calc(var(--default-font-size) - 80%);
}
div.Nav_home {
  margin: 10% auto;
  font-size: calc(var(--default-font-size) - 15%);
}
a.Nav_home {
  text-decoration: none;
}
a.Nav_home:hover {
  text-decoration: underline;
}
ul.Nav_list {
  padding: 0;
  list-style: none;
}
/* Contents 관련 스타일 적용 */
.MainWrap {
  margin: 0;
  padding-top: 0.1%;
  border-bottom: solid 0.5px #DADADA;
  background-color: var(--Wrap-background);
}
.Contents {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 4%;
  position: relative;
  width: 80%;
  height: auto;
  color: var(--Contents-color);
  background-color: var(--Contents-background);
}
/* Footer 관련 스타일 적용 */
.Footer {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 5%;
  color: var(--Footer-color);
  background-color: var(--Footer-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.github {
  margin-left: 10%;
}
a.github {
  font-size: var(--default-font-size);
  color: inherit;
  text-decoration: none;
}
a.github:hover {
  color: #000000;
}
div.designed {
  margin-right: 10%;
  font-size: calc(var(--default-font-size) - 50%);
}